@import "../../node_modules/bootstrap/scss/bootstrap";

$body-bg:                           lightpink;
$card-border-width:                 2px;
$card-border-color:                 rgba($black, .3);
$card-title-spacer-y:               $spacer * .5;
$card-cap-color:                    indigo;

@import "../../node_modules/bootstrap/scss/bootstrap";
