body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(./components/shared/ramenbowl-bg.jpg); */
  background-image: linear-gradient(rgb(247, 213, 227), rgb(248, 63, 158));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ramen-detail {
  margin-top: 50px;
  padding: 10px;
}

.ramen-detail-img {
  margin: 3 3 10 3;
}

.ramen-button-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
